h1 {
    text-align: center;
    color: #fff;
    margin: 3rem 0;
}


.ulindex {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
}

.ulindex li {
    /* display: flex;
    flex-direction: column;
    align-items: center;
*/
    width: 100%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202020;
    padding: 1rem;
    border-radius: 1rem;

}

.ulindex li a .imgcomics {
    width: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.ulindex li span {
    font-weight: bold;
    color: #fff;
    font-size: 120%;
}

.ulindex li a {
    transition: all 0.3s;
}

.ulindex li a:hover {
    transform: scale(1.1);
}

.moviescard {}

.titlo {
    border: 2px solid #902411;
    display: inline-block;
    margin-left: 35rem;
    border-radius: 1rem;
    padding: 1.5rem;
    color: #fff;
}